<div class="col-xs-12 col-md-12 col-lg-12">

    <div class="musicData">
        <form>
            <div class="form-groups">
                <input type="text" class="form-control" placeholder="Search" />
            </div>
        </form>
        <table class="table table-body">
            <tr>
                <th class="musicListHeader"colspan="4">Music</th>
            </tr>
            <tr>

                <th>ID</th>
                <th>Song Name</th>
                <th>Album Name</th>
                <th>Artist Name</th>

            </tr>
            <tr ng-repeat="music in musicList">

                <td>{{music.data.id}}</td>
                <td>{{music.data.song_Name}}</td>
                <td>{{music.data.album_Name}}</td>
                <td>{{music.data.artist_Name}}</td>
            </tr>
        </table>
    </div>

</div>