<div class="col-xs-12 col-md-12 col-lg-12 musicData">

    <div class="uploadForm">
        <form>
            <div class="form-groups">
                <label for="musicUploadInput">Upload your music</label>
                <input type="file" class="form-control" id="musicFile" name="musicFile" />
            </div>

            <div class="form-group">
                <label for="nameOfSongInput">Name of song:</label>
                <input type="text" class="form-control" id="songName" name="songName" />
            </div>

            <div class="form-group">
                <label for="genreTypeInput">Genre:</label>
                <input type="text" class="form-control" id="genreType" name="genreType" />
            </div>

            <div class="form-group">
                <label for="nameOfAlbumInput">Name of Album:</label>
                <input type="text" class="form-control" id="albumName" name="albumName" />
            </div>

            <div class="form-group">
                <label for="nameOfArtistInput">Name of Artist:</label>
                <input type="text" class="form-control" id="artistName" name="artistName" />
            </div>

            <button type="submit" class="btn btn-default formSubmit" value="submit" name="submit">Submit
            </button>
            </div>
        </form>
    </div>
</div>